.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Make the container take up the whole viewport height */
    margin: 0;
    overflow: hidden;  /* To prevent any scrollbars from appearing */
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;  
  }
  
  .info-container {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 20px;
    width: 100%;
  }
  
  .info-container h1 {
    font-size: 3rem;
  }
  
  .info-container p {
    font-size: 1.5rem;
  }